@import url('https://fonts.googleapis.com/css2?family=Karla&family=Luckiest+Guy&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}nav {
    display: flex;
    justify-content: space-around;
}
.logo {
    width: 90px;
    padding-top: 5px;
}
nav a {
    text-align: center;
    color: #D7FFAB;
    text-decoration: none;
    padding: 35px;
}
header {
    background-color:#85C7F2;
    display: grid;
    grid-template-columns: 150px auto;
    text-align: center;
    font-size: 1.5em;
    font-family: "Karla";
}
nav a:hover, footer a:hover {
    background-color: #F7996E;
    color: #D7FFAB;
}
.login {
    input[type=text], input[type=password]
    align-items: center;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#opening {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    font-size: 1.25em;
    font-family: "Luckiest Guy";
}
h4 {
    font-family: "Karla";
}
#intro, h1, h4 {
    text-align: center;
    margin-top: 100px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    margin-bottom: 20px;
}
#intro {
    background-color: #85C7F2; 
    color: #D7FFAB;
    text-decoration: none;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 130px;
}
.child-box {
    text-align: center;
}
.child-box {
    background-color: #324376; 
    color: #D7FFAB;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.child-box:hover {
    background-color:#F7996E;
    color: #D7FFAB;
}
main section {
    text-align: center;
}
.image {
    border: 10px solid #BBB09B;
    margin: 20px 0;
    border: 5px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.teacher-grid {
    margin-top: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: karla;
    color:#85C7F2
}
.quote {
    align-items: center;
    margin-top: 100px;
    font-family: Luckiest Guy;
    font-size: 2.5em;
    color:#324376
}
.name1 {
    width: 150px;
}
.name {
    font-family: Luckiest Guy;
    color:#F7996E;
    font-size: 1.75em;
    padding-bottom: 20px;
}
.info-chart {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%
}
.pic1 { 
    border: 5px solid #BBB09B;
    width: 50px;
    grid-column: 1/4;
    grid-row: 1/2;
    width: 200px;
    margin-top: 30px;
}
.pic2 { 
    border: 5px solid #BBB09B;
    width: 50px;
    grid-column: 3/4;
    grid-row: 1/2;
    width: 200px;
    margin-top: 30px;
}
.pic3 { 
    border: 5px solid #BBB09B;
    width: 50px;
    grid-column: 1/4;
    grid-row: 2/2;
    width: 200px;
    margin-top: 77px;
}
.pic4 { 
    border: 5px solid #BBB09B;
    width: 50px;
    grid-column: 3/4;
    grid-row: 2/2;
    width: 200px;
    margin-top: 77px;
}
.food {
    align-items: center;
    width: 110px;
    grid-column: 2/4;
    grid-row: 1/2;
    font-family: Karla;
    color:#324376;
}
.call {
    align-items: center;
    width: 110px;
    grid-column: 4/4;
    grid-row: 1/2;
    font-family: Karla;
    color:#324376;
}
.car {
    align-items: center;
    width: 110px;
    grid-column: 2/4;
    grid-row: 2/2;
    font-family: Karla;
    color:#324376;
    margin-top: 45px;
}
.meds {
    align-items: center;
    width: 150px;
    grid-column: 4/4;
    grid-row: 2/2;
    font-family: Karla;
    color:#324376;
    margin-top: 50px;
}
footer {
    background-color:#85C7F2; 
    color: #D7FFAB;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2em;
    font-family: "Karla";
}
footer a {
    background-color: #85C7F2; 
    padding: 25px;
}